*{
    margin: 0;
    padding: 0;
}
:root{
    --navbar-height: 59px;
}
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
.logo{
    margin: 8px 15px;
}
.logo div{
    font-size: 20px;
    color: lightyellow;
    background-color: black;
}
.logo img{
    height: 100px;
    width: 150px;
    /* filter: brightness(50%); */
}
#navbar ul{
    display: flex;
    font-family: sans-serif;
}
#navbar::before{
    content: "";
    /* background-color: rgb(6, 2, 34); */
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1;
    background: url('library.jpg') no-repeat center;
}
#navbar ul li{
    list-style: none;
    font-size: 2.5rem;
    /* color: darkorchid; */

}
#navbar ul li a{
    color: white;
    /* border: 2px solid powderblue; */
    display: block;
    padding: 3px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-family: 'Teko', sans-serif;
    margin: 2px 10px;
}
#navbar ul li a:hover{
    color: black;
    background: white;
}
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 800px;
    align-items: center;
    justify-content: center;
    border: 5px solid white;
}
#home::before{
    content: "";
    background: url('background2.jpg') no-repeat center center/cover;
    position: absolute;
    height: 135%;
    width: 100%;
    /* top: 0px;
    left: 0px; */
    z-index: -1;
    opacity: 0.95;
    top: 138px;
}
#home h1{
    color: black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background-color: black; */
    /* border: 3px solid blue; */
    border-radius: 40px;
    /* margin: 8px; */
    padding: 8px;
}

#home p{
    color: black;
    text-align: center;
    font-size: 2rem;
    /* background-color: teal; */
    font-family: 'Baloo Bhai 2', cursive;
    margin: 8px;
    
}
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: cursive;
    align-items: center;
}
/* .btn1{
    padding: 6px 20px;
    border: 2px solid wheat;
    background-color: darkseagreen;
    color: wheat;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    float: right;
} */
.center{
    text-align: center;
    bottom: 1px;
}
footer{
    background: black;
    color: blanchedalmond;
    padding: 9px 20px;
    
}
html{
    scroll-behavior: smooth;
}
.btn1{
    width: 100px;
    text-decoration: none;
}
.container{
    border:2px solid wheat;
    margin: 100px 50px;
    width: 33%;
    border-radius: 40px;
    padding: 100px;
    background-color: black;
}

#container h1{
    text-align: center;
    font-size: 60px;
    color: black;
    /* background-color: black; */
    /* border: 4px solid white; */
}
.form-group input{
    margin: 12px auto;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    display: block;
    width: 500px;
    border: 2px solid wheat;
    font-size: 20px;
    font-family: cursive;
    background-color: whitesmoke;
    bottom: 100px;
    border: 3px solid black;
}
#container h1{
    text-align: center;
    color: black;
    margin: 22px;
}
#container button{
    display: block;
    width: 10%;
    border-radius: 48px;
    padding: 12px 12px;
    margin: 15px auto;
    background-color: white;
    color: black;
    border: 3px solid black;
    cursor: pointer;
}
#container button:hover{
    color: white;
    background-color: black;
    border: 2px solid white;
}
#btn{
    /* padding: 10px; */
    border: 2px solid black;
    border-radius: 8px;
    color: blanchedalmond;
    background-color: black;
    cursor: pointer;
}
#btn:hover{
    color: black;
    background-color: blanchedalmond;
}
.searchbar{
    font-size: 32px;
    border: 3px solid black;
    border-radius: 30px;
    margin: 19px;
    /* padding: 12px; */
}
.icon{
    background-color: #0074D9;
    color: #f2f2f2;
    /* float: right; */
    padding: 5px 10px;
    margin-right: 3px;
    font-size: 12px;
    border: none;
    cursor: pointer;
} 
.icon:hover{
    background-color: black;
    color: blanchedalmond;
}